{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for earring in products %}
        <div class="col-lg-6">
            <img class="thumbnail" src="{{earring.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{earring.name}}</strong></h6>
                <hr>
                <h6 style="color:blue">{{earring.text}}</h6>

                <button data-product={{earring.id}} data-action="add" class="btn btn-outline-primary add-btn update-cart"> Add to Cart </button>


                <h4 style="display: inline-block;float: right"><strong>
                Rs.{{earring.price|floatformat:2}}</strong> </h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}




